@import "./reset.css";
@import"https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css";

:root {
    --primary: #CAEC3D;
    --secondery: #D1B6F9;
    --terinary: #FCFAFB;
    --dark: #1F1F2E;
    --light: #fefefe;
}